<div class="principal" (mousedown)="showModalAddTarefavisible(false)">
  <div class="titulo-lista">
    <div class="header">
      <span class="sub-titulo">
        Minhas Tarefas
      </span>
    </div>
    <h2>{{listaSelecionada.nome}}</h2>
  </div>

  <input disabled="{{listaSelecionada.length === 0}}" class="d-none" type="checkbox" id="active" [checked]="openMenu" [(ngModel)]="openMenu">
  <label for="active" class="menu-btn"><i class="fas fa-bars" [ngClass]="[listaSelecionada.length == 0 ? 'd-none' : '']">
    <div *ngIf="!openMenu" class="iconOpen">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div *ngIf="openMenu" class="iconClose">
        <span></span>
        <span class="s1"></span>
        <span class="s2"></span>
    </div>
  </i></label>
  <div (mousedown)="showModalAddListavisible(false)"  class="wrapper">
    <div class="header">
      <span class="sub-titulo">
        Minhas Listas
      </span>
    </div>

    <div class="sem-listas" *ngIf="listas.length === 0">
      <img style="margin: 0 auto;" src="'../../../assets/pngwing.png">
    </div>

    <ul class="ul-tarefas">
      <li (click)="selecioarLista(lista)" *ngFor="let lista of listas; let i = index"
        class="{{lista.porcentagem == '100.00' ? 'success tarefa' : 'tarefa'}}">
        <div class="box1">
          <a class="{{lista.porcentagem == '100.00' ? 'success-title' : ''}}">{{lista.nome}}</a>
          <span>{{lista.porcentagem ? lista.porcentagem : 0}}%</span>
        </div>
        <div class="box2">
          <button (click)="excluirLista(i)">
            <mat-icon svgIcon="trash" aria-hidden="false"></mat-icon>
          </button>
        </div>
      </li>
    </ul>
    <div class="footer">
      <button class="btn-add btn-add-lista" (click)="showModalAddListavisible(true)">+</button>
    </div>
  </div>

  <div class="container">
    <section>
      <ul>
        <li *ngFor="let tarefa of listaSelecionada.tarefas; let i = index">
          <input type="checkbox" [checked]=tarefa.concluida  [(ngModel)]="tarefa.concluida">
          <input class="input-task" maxlength="60" type="text" disabled="{{tarefa.concluida}}" class="{{tarefa.concluida ? 'checked' : ''}}" [(ngModel)]="tarefa.titulo">
          <button (click)="excluirTarefa(i)">
            <mat-icon svgIcon="trash" aria-hidden="false"></mat-icon>
          </button>
        </li>
      </ul>
      <div class="footer">
        <button class="btn-add btn-add-tarefa {{openMenu ? 'd-none' : ''}}" (click)="showModalAddTarefavisible(true)">+</button>
      </div>
    </section>
  </div>

</div>

<div *ngIf="formAddListaVisible" class="modal modal-novaLista">
  <form  #form="ngForm" (ngSubmit)="novaLista(form)">
    <label>
      Título:
      <input id="input-new-list" maxlength="22" placeholder="Informe o título da nova lista" class="{{formInvalid ? 'formInvalid' : ''}}" type="text" name="titulo" #titulo="ngModel" [ngModel]="titulo.value" required>
      <small style="color: red;" *ngIf="formInvalid">*Preencha o título da lista</small>
    </label>
    <div class="modal-footer">
      <a (click)="showModalAddListavisible(false)">Cancelar</a>
      <button type="submit">Adicionar</button>
    </div>
  </form>
</div>

<div *ngIf="formAddTarefaVisible" class="modal modal-novaTarefa">
  <form #form="ngForm" (ngSubmit)="novaTarefa(form)">
    <label>
      Título:
      <input id="input-new-task" maxlength="60" placeholder="Informe o título da nova tarefa" class="{{formInvalid ? 'formInvalid' : ''}}" type="text" name="titulo" #titulo="ngModel" [ngModel]="titulo.value" required>
      <small style="color: red;" *ngIf="formInvalid">*Preencha o título da tarefa</small>
    </label>
    <div class="modal-footer">
      <a (click)="showModalAddTarefavisible(false)">Cancelar</a>
      <button type="submit">Adicionar</button>
    </div>
  </form>
</div>
